html, body {
    height: 100%;
}
#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fill-height {
  min-height: 100%;
  height: 100%;
}

.sidebar-wrapper {
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
iframe {
  min-height: 100%;
  width: 100%;
}
#pdfViewer {
  margin:0;
  padding:0;
}
#map {
  padding:0;
}
#pdfContainer {
  padding:0;
  overflow:hidden;
}

.progress-bar.animate {
   width: 100%;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  line-height: 60px;
  text-align: center;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

label {
  color: #999999;
}

.big-label {
  font-size: 25px;
  font-weight: bold;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}


#printBtn {
  float: right;
  margin-bottom: 10px;
}
#resetBtn {
  float:left;
  margin-bottom: 10px;
}
